//COLORS
$white: #edeff1;
$white-dark: #ffffff;
$black: #333333;
$black-dark: #252533;
$black-light: #333333;
$green: #009000;
$green-light: #009c00;
$blue-dark: #003049;
$grey: #92939c;
$grey-dark: #707070;
$grey-light: #f4f4f1;
$yellow: #f8d850;
$yellow-dark: #ffd800;
// BREAKPOINTS
$xs: 320px;
$sm: 576px;
$md: 768px;
$tb: 840px;
$xm: 900px;
$lg: 992px;
$xl: 1200px;
$xxl: 1500px;

$font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
