@import "constants/variables.scss";

.group {
    max-width: 650px;
    position: relative;
    z-index: 1;
    :global(.form-control) {
        height: 77px;
        font-size: 18px;
        color: $black;
        border: 1px solid $black-light;
        padding-left: 33px;
        &::placeholder {
            color: $black;
        }
        @media screen and (max-width: $xxl) {
            height: 37px;
            font-size: 12px;
        }
        @media screen and (max-width: $md) {
            padding-left: 12px;
        }
    }
    .searchBtn {
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 18px;
        padding: 16px 17px;
        transform: translate(-10%, -50%);
    }
    @media screen and (max-width: $xxl) {
        max-width: 330px;
        // width: 100%;
        .searchBtn {
            padding: 8px;
            font-size: 8px;
            transform: translate(-5%, -50%);
        }
        @media screen and (max-width: $md) {
            max-width: unset;
            width: 100%;
        }
    }
}
