@import "constants/variables.scss";
$yellow: #fed821;

.freelancer {
	padding-top: 80px;
	position: relative;
	width: 100%;
	max-width: 476px;
	margin: 0 1.75%;
	.avatar {
		text-align: center;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		img {
			max-width: 160px;
			border-radius: 50%;
			border: 3px solid $yellow-dark;
		}
	}
	.card {
		padding-top: 100px;
		border: 3px solid $yellow-dark;
		border-radius: 10px;
		height: 100%;
		.bio {
			margin: 15px;
			display: flex;
			border-radius: 50px;
			.left {
				padding: 5px 28px;
				background-color: transparent;
				border: 1px solid $yellow;
				border-top-left-radius: 50px;
				border-bottom-left-radius: 50px;
				border-right-width: 0;
				white-space: nowrap;
				width: 60%;
				color: $blue-dark;
				.level {
					font-size: 16px;
				}
				.name {
					font-size: 22px;
					font-weight: bold;
					line-height: 30px;
				}
				@media screen and (max-width: $md) {
					.level {
						font-size: 13px;
						line-height: 20px;
					}
					.name {
						line-height: 22.5px;
						font-size: 15px;
					}
				}
			}
			.right {
				background-color: $green-light;
				// outline: 1px solid $green-light;
				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
				width: 40%;
				text-align: center;
				color: $white;
				display: flex;
				justify-content: center;
				flex-direction: column;
				.text {
					font-size: 16px;
				}
				.rate {
					font-size: 17px;
					font-weight: bold;
				}
				@media screen and (max-width: $md) {
					.text {
						font-size: 13px;
						line-height: 20px;
					}
					.rate {
						font-size: 15px;
						line-height: 23px;
					}
				}
			}
		}
		.role {
			background-color: $yellow;
			padding: 4px 12px;
			font-size: 16px;
			line-height: 25px;
			text-decoration: underline;
			height: 55px;
			text-align: left;
			display: flex;
			align-items: center;
			@media screen and (max-width: $md) {
				font-size: 10px;
				line-height: 15px;
				height: unset;
			}
		}
		.skills {
			padding: 0 14px 20px 14px;
			display: flex;
			flex-flow: row wrap;
			font-size: 13px;
			line-height: 16px;
			& > div {
				margin-top: 20px;
				margin-right: 20px;
				color: $grey-dark;
			}
		}
	}
}
.service {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	padding: 21px 18px;
	width: 100%;
	height: 376px;
	color: $white;
	line-height: 30px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	.title {
		font-size: 16px;
	}
	.highlight {
		font-size: 28px;
		font-weight: bold;
	}
	@media screen and (max-width: $xxl) {
		width: 100%;
		height: 363px;
		.title {
			font-size: 14px;
		}
		.highlight {
			font-size: 20px;
		}
	}
	@media screen and (max-width: $md) {
		max-width: 320px;
	}
}
.category {
	width: 100%;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid $green;
	border-radius: 8px;
	padding: 32px 10px;
	background-color: $white-dark;
	position: relative;
	margin: 23px;
	box-shadow: 0px 2px 24px rgb(0 0 0 / 20%);

	.title {
		margin-top: 35px;
		color: $black-dark;
		font-size: 24px;
		line-height: 24px;
	}
	.description {
		margin-top: 20px;
		color: $grey;
		max-width: 340px;
		height: 110px;
	}
	.highlight {
		color: $green;
		font-size: 17px;
		line-height: 17px;
	}
	@media screen and (max-width: $md) {
		margin: 0;
		width: 300px;
		.title {
			margin-top: 23px;
			font-size: 17px;
			line-height: 25px;
		}
		.description {
			margin-top: 14px;
			font-size: 14px;
			line-height: 21px;
			max-width: 200px;
			height: 65px;
		}
		.highlight {
			font-size: 12px;
			line-height: 18px;
		}
	}
}
.customer {
	padding: 36px 30px;
	width: 328px;
	max-width: 328px;
	border-radius: 8px;
	margin: 0 25px;
	filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.08));
	background-color: $white-dark;
	.bio {
		color: $grey;
		font-size: 16px;
		line-height: 24px;
		height: 190px;
	}
	.avatar {
		border-radius: 50%;
		width: 76px;
		height: 76px;
	}
	.name {
		margin-left: 14px;
		font-size: 24px;
		color: $black-dark;
	}
	@media screen and (max-width: $md) {
		margin: 25px 0;
		.avatar {
			width: 55px;
			height: 55px;
		}
		.name {
			font-size: 17px;
			line-height: 25px;
		}
	}
}
